/* ======#--Gobal Styles--#===== */
:root {
  --bg-primary-color: #f6f6f6;
  --main-color: #dbd4d4;
  --ternary-color: #1a4d63;
  --animation-duration: 400ms;
  --border-color: #ffffff;
  --box-shadow: transparent;
  --color-green: #3ca55c;
  --color-yellow: #b5ac49;
  /* button */
  --btn-txt: #fff;
  --btn-bg: #d1512d;
  --btn-green: #9eb23b;
  --btn-red: #eb1d36;
  --btn-blue: #1d3feb;
  /* fonts */
  --font-primary: "PT Sans Caption", sans-serif;
  --font-secondary: "Pacifico", cursive;
  --font-ternary: "Righteous", cursive;
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--bg-primary-color) !important;
  font-family: var(--font-primary);
}
label {
  font-size: 16px;
  color: var(--secondary-color);
  font-weight: 600;
}
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--border-color);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--box-shadow);
}
 h1 {
  font-size: 50px;
  font-family: var(--font-secondary);
}

 h2 {
  font-family: var(--font-ternary);
  font-size: 25px;
  background-image: linear-gradient(
    to right,
    var(--color-green),
    var(--color-yellow)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dot-border {
  border-width: 2px 0 2px 0;
}
.dot-border-bottom {
  border-bottom: #352e28 dotted;
}
.dot-border-top {
  border-top: #352e28 dotted;
}
.btn {
  color: var(--btn-txt);
}
.btn-submit {
  background-color: var(--btn-bg);
  --bs-btn-border-color: #d1512d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #bb4120;
  --bs-btn-hover-border-color: #a03315;
}
.btn-delete {
  background-color: var(--btn-red);
  --bs-btn-border-color: #eb1d36;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d30820;
  --bs-btn-hover-border-color: #ba081d;
}
.btn-reset {
  background-color: var(--btn-green);
  --bs-btn-border-color: #9eb23b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8a9e23;
  --bs-btn-hover-border-color: #6e8018;
}
.btn-update {
  background-color: var(--btn-blue);
  --bs-btn-border-color: #3b4db2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #232d9e;
  --bs-btn-hover-border-color: #182680;
}
.layer {
  position: absolute;
  top: 0%;
  bottom: 0%;
  background-color: #00000084;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog {
  border-radius: 5px;
  padding: 10px;
  width: 35%;
  background-color: #fff;
}
.circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
.circles span:nth-child(1) {
  background-color: #f15f5d;
}
.circles span:nth-child(2) {
  background-color: #febe2e;
}
.circles span:nth-child(3) {
  background-color: #4db748;
}
